@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

:root {
    --fontePadrao: 'Nunito', sans-serif;
    --fonteTitulo: 'Luxurious Roman', cursive;

    --verde: rgb(0, 156, 59);
    --amarelo: rgb(255, 233, 0);
    --azul: rgb(0, 39, 118);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fontePadrao);
}

header {
    padding: 3em;
    background-color: white;
}

header > h1 {
    font-family: var(--fonteTitulo);
    font-size: 3em;
    text-align: center;
    color: var(--azul);
}

section > h2 {
    padding: 2%;
    background-color: var(--azul);
    color: white;
    font-family: var(--fonteTitulo);
    font-size: 2em;
    text-indent: 10%;
}

article {
    padding: 5%;
}

article#porUnidadeFederativa {
    background-image: url('../imagens/brasil01.jpg');
    background-size: cover;
    background-position: center center;
}

article#porRegiao {
    background-image: url('../imagens/brasil02.jpg');
    background-size: cover;
    background-position: left center;
}

table {
    position: relative;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
}

#porUnidadeFederativa > table {
    width: 40vw;
}

#porRegiao > table {
    width: 50vw;
}

.colunaRegiao {
    width: 10vw;
}

.colunaPosicao {
    width: 5vw;
}

.colunaEstado {
    width: 20vw;
}

.colunaPopulacao {
    width: 15vw;
}

td, th {
    padding: 1em;
    border: solid 1px black;
}

thead, tfoot {
    background-color: var(--verde);
    color: white;
    font-size: 1.1em;
    text-align: center;
}

.regiao {
    font-weight: bold;
}

.subtotal {
    background-color: var(--amarelo);    
    color: black;
}

footer {
    padding: 2em;
    background-color: var(--azul);
    color: white;
    text-align: center;
}

footer > p {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}